* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin: auto;
}

/*navbar*/
nav{
    background-color: #6F2232;
    color: #fff;
    padding: 2.4rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.container {
    width: 1140px;  
    margin: 0rem auto;
    padding: 0rem 0.5rem;
}

#logo-box {
    float: left;
    padding-top: .5rem;
}

#logo-box .logo {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
    
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: .4rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    transition: color .2s;
}

#nav-links .nav-link:hover {
    color: #1A1A1D;
    
}

/*HEADER*/

header{
    background-color: #1A1A1D;
    padding-top: calc(112px + 17rem);
    padding-bottom: 112px;
    text-align: center;
}

header h1 {
    color: #950740;
    font-size: 5rem;
    padding-top: 3rem;
}

header h2 {
    color: #fff;
    font-weight: 300;
}

#profilImage{
    border-radius: 50%;
    border: 5px solid #6F2232;
    opacity: 0.9;
    box-shadow: 0px 0px 20px 0px  #6F2232;
    transition: filter, box-shadow, transform 0.5s;
}

#profilImage:hover {
    filter: sepia(100%);
    transform: scaleX(-1);
    box-shadow: 0px 0px 20px 0px  #d8d1b0;

   
}


.star-dark{
    border: none;
    border-top: .4rem solid #950740;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;  /*mit diese Code wurde Sterne vollständig gezeigt*/
    
}

.star-dark::after {
    content: "\f005";
    color: #C3073F;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -2.5rem;
    padding: 0.4rem;
    background-color: #fff;
}

header .star-dark::after {
    background-color: #1A1A1D; 
}


/*PORTFOLIO*/

#portfolio {
    
    padding: 10rem 0rem;
    text-align: center;
}

#portfolio h2 {
    font-size: 5rem;
    color: #950740;
}

#portfolio .star::after {
    background-color: #fff;
}

.col {
    float: left;
    width: 33.33333%;
    padding: 10px;
}

.portfolio-item {
    position: relative;
}

.portfolio-item img {
    display: block;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #C3073F;
    opacity: 0;
    transition: opacity .3s ;
}

.image-overlay .icon {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.portfolio-item:hover .image-overlay {
    opacity: 0.8;
}


/*ABOUT*/

#about {
    padding: 10rem 0rem;

    text-align: center;
    background-color: #1A1A1D;
}

#about h2 {
    font-size: 5rem;
    color: #fff;
}

.star-light{
    border: none;
    border-top: .4rem solid #fff;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;  /*mit diese Code wurde Sterne vollständig gezeigt*/
    
}

.star-light::after {
    content: "\f005";
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -2.5rem;
    padding: 0.4rem;
    background-color: #1A1A1D;
}

#about-text {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 40px;
    padding: 10px 350px;
    text-align: justify;
    column-count: 2;
    column-gap: 12rem;
}

#about-btn {
    padding-top: 12rem;
}


#about-btn a {
    color: #fff;
    border: .2rem solid #fff;
    padding: 2rem 3rem;
    border-radius: .5rem;
    transition: all 0.3s ease-out;
}

#about-btn a:hover {
    color: #fff;
    background-color: #C3073F;
    border: .2rem solid #fff;
    padding: 2rem 3rem;
    border-radius: .5rem;
}

#about-btn i {
    padding-right: 2rem;
}


