$layout-sm: 576px;
$layout-md: 768px;
$layout-lg: 992px;
$layout-xl: 1200px;

$white: #fff;
$color-primary:  #950740;
$color-secondary:#C3073F;
$color-thirdy: #1A1A1D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 6px;

    body {
        font-family: 'Merriweather', serif;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: $white;

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Merriweather', serif;
            font-weight: 700;
        }

        a {
            text-decoration: none;
        }
        
        ul {
            list-style-type: none;
        }

        .text-uppercase {
            text-transform: uppercase;
        }
        
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }
        
        .img-fluid {
            max-width: 100%;
            height: auto;
            margin: auto;
        }
        
        .col {
            float: left;
            width: 100%;
            padding: 1rem;
        }
        
        .col-footer {
            float: left;
            width: 100%;
            padding: 2rem;
        }

        .container {   
            width: 100%;    /*width: 1140px; Wegen Responsive Design wurde "Container Width" von 110px zu 100% geändert.  */
            margin: 0rem auto;
            padding: 0rem 0.5rem;
        }

        .star-dark{
            border: none;
            border-top: .4rem solid$color-primary;
            max-width: 25rem;
            margin: 5rem auto;
            overflow: visible;  /*mit diese Code wurde Sterne vollständig gezeigt*/
            
            &::after {
                content: "\f005";
                color: $color-secondary;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 3.2rem;
                position: relative;
                top: -2.5rem;
                padding: 0.4rem;
                background-color: $color-thirdy; 
            }
        }


        /*navbar*/

        nav {
            background-color: #6F2232;
            color: $white;
            padding: 2.4rem 0rem;
            position: fixed;
            width: 100%;
            z-index: 500;
            
            #logo-box {
                float: left;
                padding-top: .5rem;
                margin-left: 22rem;

                .logo {
                    color: $white;
                    font-size: 3.2rem;
                    font-weight: 700;  
                }
            }

            #nav-links {

                .nav-item {
                    margin: .4rem;


                    .nav-link {
                        color: $white;
                        font-size: 1.8rem;
                        font-weight: 700;
                        display: block;
                        padding: 1.6rem;
                        transition: color .2s;

                        &:hover {
                            color: $color-thirdy;
                        }
                    }
                }
            }
        }

        /*HEADER*/

        header{
            background-color: $color-thirdy;
            padding-top: 20rem;
            padding-bottom: 10rem;
            text-align: center;

            #name {
                padding-bottom: 6rem;
                letter-spacing: 5px;
                word-spacing: 5px;
            }

            h1 {
                color:$color-primary;
                font-size: 5rem;
                padding-top: 3rem;
            }

            h2 {
                color: $white;
                font-size: 2em;
                font-weight: 300;
                letter-spacing: 3px;
                word-spacing: 3px;
                padding-top: 2rem;
            }

            #profilImage{
                margin: 6rem 0rem;
                width: 30rem;
                border-radius: 50%;
                border: 5px solid #6F2232;
                opacity: 0.9;
                box-shadow: 0px 0px 20px 0px  #6F2232;
                transition: filter, box-shadow, transform 0.5s;

                &:hover {
                    filter: sepia(100%);
                    transform: scaleX(-1);
                    box-shadow: 0px 0px 20px 0px  #d8d1b0;
                }
            }
        }

        /*PORTFOLIO*/

        #portfolio {
            padding: 10rem 0rem;
            text-align: center;

            h2 {
                font-size: 5rem;
                color:$color-primary;
            }

            .star-dark::after {
                background-color: $white;
            }
        }

        .portfolio-item {
            position: relative;

            &:hover .image-overlay {
                opacity: 0.8;
            }

            img {
                display: block;
            }

            .image-overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: $color-secondary;
                opacity: 0;
                transition: opacity .3s ;

                .icon {
                    color: $white;
                    font-size: 2rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        /*ABOUT*/

        #about {
            padding: 10rem 0rem;
            text-align: center;
            background-color: $color-thirdy;

            h2 {
                font-size: 5rem;
                color: $white;
            }

            .star-light{
                border: none;
                border-top: .4rem solid $white;
                max-width: 25rem;
                margin: 2.5rem auto;
                overflow: visible;  /*mit diese Code wurde Sterne vollständig gezeigt*/
                
                &::after {
                    content: "\f005";
                    color: $white;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 3.2rem;
                    position: relative;
                    top: -2.5rem;
                    padding: 0.4rem;
                    background-color: $color-thirdy;
                }
            }

            #about-text {
                color: $white;
                font-size: 2rem;
                font-weight: 300;
                line-height: 5rem;
                padding: 1rem 4rem;
                text-align: justify;
                column-count: 1;
                column-gap: 12rem;
            }

            #about-btn {
                padding-top: 10rem;

                a {
                    color: $white;
                    font-size: 2rem;
                    border: .2rem solid $white;
                    padding: 2rem 3rem;
                    border-radius: .5rem;
                    transition: all 0.3s ease-out;

                    &:hover {
                        color: $white;
                        background-color: $color-secondary;
                        border: .2rem solid $white;
                        padding: 2rem 3rem;
                        border-radius: .5rem;
                    }
                }

                i {
                    padding-right: 2rem;
                }
            }
        }

        /*CONTACT*/

        #contact {
            padding: 10rem 0rem;
            text-align: center;
            background-color: $white;

            h2 {
                font-size: 5rem;
                color:$color-primary;
            }

            .star-dark::after {
                background-color: $white;
            }

            #contact-form {
                margin: 5rem 5rem;

                .form-item {
                    text-align: left;
                    font-size: 2.4rem;
                    margin-bottom: 3rem;

                    input, textarea {
                        display: block;
                        font-size: 2.4rem;
                        padding: 1rem 0rem;
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, .2);  
                        color: gray; 
                    }
                }

                #send-btn {
                    padding-top: 5rem;
                    text-align: center;

                    &:hover i{
                        color: $white;
                    }

                    a {
                        color:$color-primary;
                        font-size: 2.4rem;
                        border: .2rem solid black;
                        padding: 2rem 3rem;
                        border-radius: .5rem;
                        transition: all 0.3s ease-out;

                        &:hover {
                            color: $white;
                            border: .2rem solid black;
                            background-color:$color-primary;
                            padding: 2rem 3rem;
                            border-radius: .5rem;
                        }
                    }

                    i {
                        padding-right: 2rem;
                        color:$color-primary;
                        transition: color 0.3s ease-out;
                    }
                }
            }
        }


        /*FOOTER*/

        #footer {
            padding: 5rem 0rem;
            text-align: center;
            background-color: #6F2232;

            #footer-items {
                margin: 1rem;

                h1 {
                    font-family: 'Merriweather', serif;
                    font-weight: 700;
                    color: $white;
                    font-size: 3rem;
                }

                p {
                    font-family: 'Merriweather', serif;
                    font-size: 2.5rem;
                    font-weight: 300;
                    color: $white;
                    margin-top: 1rem;
                }

                #social-media {
                    a {
                        color: $white;
                        font-size: 6rem;
                        font-weight: 700;
                        display: inline-block;
                        padding: 1rem;
                    }

                    i {
                        transition: all 0.5s;

                        &:hover {
                            color: $color-secondary;
                            border: 1px solid $white;
                            font-size: 5rem;
                            border-radius: 5px;
                            padding: 0.5rem;
                        }
                    }
                    
                }

                b {
                    display: block;
                    margin-top: 2rem;
                    letter-spacing: 0.2rem;
                    transition: all 0.5s;

                    &:hover {
                        letter-spacing: 0.5rem;
                        cursor: pointer;
                        color: $color-secondary;
                        font-size: 2rem ;
                    }
                }

                hr {
                    border: 1px solid rgba(245, 244, 244, 0.164);;
                    width: 80%;
                    margin: 3rem auto;
                }
                
            }
        }
/*/*//*/*/
    }
}


/* MEDIA QUERY*/



@media (min-width: $layout-sm) {
    html {
        font-size: 7px;

        .container {   
            width: 546px;
        }
    }
}

@media (min-width: $layout-md) { //768px
    html {
        font-size: 8px;

        .container {   
            width: 738px;
        }

        .col {
            width: 50%!important;
        }

        .col-footer {
            width: 33.33333%!important;

            #social-media {
                a {
                    padding: 0.5rem!important;
                    font-size: 3.5rem!important;
                }
            }

            hr {
                display: none;
            }
        }





    }
}

@media (min-width: $layout-lg) { /*992px*/
    html {
        font-size: 9px;
        header {
            padding-top: 15rem!important;
        }
        .container {   
            width: 962px;

            #logo-box {
                margin-left: 100px;
            }

            .profil-text    {
                display: inline-block;
                width: 100%;
                margin: auto;
                padding: 0rem 30rem;
                h2 {
                    width: 50%;
                    float: left;
                }
            }
        }

        .col {
            width: 33.33333%!important;
        }
    
        #about-text {
            column-count: 2;
            column-gap: 5rem;
        }

        #nav-links {
            margin-right: 5rem;

            .nav-item {
                float: right;
            }

            .toast-menu {
                display: none;
            }
        }
    }
}

@media (min-width: $layout-xl) {
    html {
        font-size: 10px;

        .container {   
            width: 1140px;

            #name {
                padding-top: 5rem;
            }

            #profilImage{
                margin: 0rem;
            }

            h1 {
                padding-top: 0rem;
            }
        }

        #nav-links {
            margin-right: 20rem;
        }

        #about-text {
            padding: 1rem 15rem!important;
            column-gap: 10rem;
        }

        #contact-form {
            padding: 1rem 10rem!important;
        }
    
        #footer hr {
            display: none;
        }
    
        .star-dark{
            border: none;
            border-top: .4rem solid$color-primary;
            max-width: 25rem;
            /* margin: 5rem auto; */
            overflow: visible;  /*mit diese Code wurde Sterne vollständig gezeigt*/
            
        }
    
        
    
        
    }
}

/*TOAST MENU*/

@media (max-width: $layout-lg) {/*992px*/
    nav {
        float: none;
    }

    #logo-box {
        float: none;
        text-align: center;
    }

    #nav-links {
        float: none;
        clear: both;

        .nav-item {
            float: none;
            clear: both;
            text-align: center;

            .nav-link { 
                font-size: 5rem!important;
            }

            .nav-icon {
                display: block;
                position: absolute;
                top: 0.8rem;
                right: 1.5rem;
                font-size: 4rem!important;
            }
        }

        &.toast-close .nav-item:not(:first-child) {  /*nur Toast Taste wurde ausgewählt und bleibt, die andere li tags wurde versteckt.*/
            display: none;
        }
    
        &:not(.toast-close) .nav-item:not(:first-child){
            padding:8rem 0rem 11rem 0rem;
        }
    }

    
}
